APP_NAME=ExpedientesApp
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/ExpedientesApp/public
APP_TIMEZONE=America/Mexico_City
APP_KEY=change_this_key
CRON_TOKEN=change_me_cron_token

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=expedientes_app
DATABASE_USER=root
DATABASE_PASS=

MAIL_ENABLED=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=notificaciones@local.test
MAIL_FROM_NAME=Expedientes App
MAIL_ENCRYPTION=tls

WHATSAPP_ENABLED=false
WHATSAPP_PROVIDER=twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

WA_CLOUD_TOKEN=
WA_CLOUD_PHONE_NUMBER_ID=

BASE_PATH=/ExpedientesApp/public
